{% extends "base.html" %}
{% block title %}
  Темы в форуме «{{ forum.title }}»
{% endblock %}
{% block content %}
  <h1>Темы в форуме «{% include "includes/forum_link.html" %}»</h1>
  <a 
    href="{% url 'forum:create_topic' forum.slug %}"
    class="link"
    >
    Добавить тему
  </a>
  <p >{{ forum.description|linebreaksbr }}</p>
  {% for topic in topics %}
    <div class="container">
      <p>
        <p>{% include "includes/topic_link.html" %}</p>
        <button>
          <a 
            href="{% url 'forum:edit_topic' forum.slug topic.slug %}"
            class="link"
            >
            Изменить тему
          </a>
        </button>
        <button>
          <a 
            href="{% url 'forum:delete_topic' forum.slug topic.slug %}"
            class="link"
            >
            Удалить тему
          </a>
        </button>
      </p>
    </div>
  {% empty %}
    <p>Нет доступных тем.</p>
  {% endfor %}
{% endblock %}